<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Confirm your weather subscription</h1>
  <p>Thank you for subscribing to our weather updates!</p>
  <p>Please enter code to subscribe daily weather:</p>
  <p><%= @confirmation_token %></p>
</body>
</html>
